@font-face {
    font-family: 'Noto Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('index_n400.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: 'Noto Sans';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('index_n700.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: 'Noto Sans';
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    src: url('index_i400.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: 'Noto Sans';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: url('index_i700.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: 'Roboto Mono';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('index_n400m.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: 'Roboto Mono';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('index_n700m.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@media (prefers-color-scheme: light) {
    :root {
        --fg:     var(--base00);
        --fg_lo:  var(--base1);
        --bg:     var(--base3);
        --bg_hi:  var(--base2);
        --em:     var(--base01);
        --accent: var(--blue);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg:     var(--base0);
        --fg_lo:  var(--base01);
        --bg:     var(--base03);
        --bg_hi:  var(--base02);
        --em:     var(--base1);
        --accent: var(--violet);
    }
}

:root {
    font-family: "Noto Sans", sans-serif;
    font-size : clamp(1em, 1vw + 1vh + .5vmin, 3em);  /* A good starting point... */
    /* And some other alternatives... */
    /*
    font-size: calc(1vw + 1vh + .5vmin);
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
    */
    /* Solarized palette https://ethanschoonover.com/solarized/ */
    --base03:  #002B36; /* base03  */
    --base02:  #073642; /* base02  */
    --base01:  #586E75; /* base01  */
    --base00:  #657B83; /* base00  */
    --base0:   #839496; /* base0   */
    --base1:   #93A1A1; /* base1   */
    --base2:   #EEE8D5; /* base2   */
    --base3:   #FDF6E3; /* base3   */
    --yellow:  #B58900; /* yellow  */
    --orange:  #CB4B16; /* orange  */
    --red:     #DC322F; /* red     */
    --magenta: #D33682; /* magenta */
    --violet:  #6C71C4; /* violet  */
    --blue:    #268BD2; /* blue    */
    --cyan:    #2AA198; /* cyan    */
    --green:   #859900; /* green   */
}

[hidden] {
    display: none !important;
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1em;
    color: var(--fg);
    background-color: var(--bg);
}

p {
    text-align: left;
    text-indent: 0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(1em, 15vw, 3em);
    gap: 0.25em;
    margin: 0;
    align-items: baseline;
    justify-content: center;
}

button {
    font-weight: 700;
    cursor: pointer;
    margin: 0;
    padding: 0.5em;
    border: none;
    color: var(--bg);
    background-color: var(--accent);
}

button:hover, button:focus {
    filter: brightness(111%);
}

button:active {
    filter: brightness(99%);
}

.monospaced {
    font-family: "Roboto Mono";
}

#logo {
    font-weight: 700;
}

#version {
    font-size: 0.5em;
}

#filepicker {
    margin: 1rem auto;
    text-align: center;
}

#filepicker > button {
    margin: 0 auto;
    font-size: 0.8em;
}

#filepicker > input {
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
    display: block;  /* So surrounding whitespace is not a problem. */
    display: none;  /* So it skips tabbing. */
}

#dropzone {
    margin: 0;  /* Avoids duplicate window.dragenter events. */
    padding: 1rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg);
	border: 0.1rem dashed var(--fg);
    transition: visibility 1s, opacity 1s cubic-bezier(0.25, 1, 0.25, 1);
    z-index: 9;
}

#dropzone[data-state="hidden"] {
    opacity: 0;
    visibility: hidden;
}

#dropzone[data-state="visible"] {
    opacity: 1;
    visibility: visible;
}

#dropzone[data-state="dismissed"] {
    opacity: 0;
    visibility: hidden;
    transition: none;
}

#dropzone > p {
    text-align: center;
    pointer-events: none;
}

.job {
    background-color: var(--bg_hi);
    margin-top: 1rem;
    font-size: 0.75rem;
}

.job > * {
    padding: 0.75em;
}

.job_header {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    align-items: center;
    border: 1px solid;
    border-bottom: none;
}

.job_header > p {
    font-weight: 700;
    overflow-wrap: break-word;
    min-width: 0px;
}

.job_dismiss_button {
    font-size: 1.5em;
    padding: 0;
    color: var(--accent);
    background-color: unset;
}

.job_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
    border: 1px solid;
}

.job_body p  {
    flex: 1 0 50%;
    overflow-wrap: break-word;
    min-width: 0px;
}

.job_body button {
    flex: 0 0 auto;
    font-size: 0.8em;
}

.job_download_dropdown {
    position: relative;
}

.job_formats_list {
    font-size: 0.75em;
    position: absolute;
    z-index: 1;
    right: 0;
    color: var(--bg);
    background-color: var(--accent);
}

.job_formats_list * {
    cursor: pointer;
    background-color: var(--accent);
    margin: 0.5em;
    padding: 0.5em;
    white-space: nowrap;
}

.job_formats_list *:hover {
    filter: brightness(111%);
}

#error, noscript > div {
    font-size: clamp(0.5em, 5vw, 1em);
    margin: 2rem auto 0;
    padding: 1em;
    color: var(--bg);
    background-color: var(--fg);
}

#error div, noscript > div {
    text-align: center;
}

#error_header {
    font-size: 1.5em;
    font-weight: 700;
}

#error_message {
    font-size: 1.25em;
    margin: 1em 0;
}

#error_details {
    font-size: 0.8em;
    margin: 0.5em 0;
}