@font-face {
    font-family: 'Trujaman';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('index_n400.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: 'Trujaman';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('index_n700.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: 'Trujaman';
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    src: url('index_i400.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: 'Trujaman';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: url('index_i700.woff2') format('woff2');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@media (prefers-color-scheme: light) {
    body {
        color: #657B83;  /* base00 */
        background-color: #FDF6E3;  /* base3 */
    }

    ::selection {
        color: #FDF6E3;  /* base3 */
        background-color: rgba(101,123,131,0.99);  /* base00 */
    }

    #console {
        color: #FDF6E3;  /* base3 */
        background-color: #657B83;  /* base00 */
    }

    #console p::selection {
        color: #657B83;  /* base00 */
        background-color: rgba(253, 246, 227, 0.99);  /* base3 */
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #839496;  /* base0 */
        background-color: #002B36;  /* base03 */
    }

    ::selection {
        color: #002B36;  /* base03 */
        background-color: rgba(131,148,150,0.99);  /* base0 */
    }

    #console {
        color: #002B36;  /* base03 */
        background-color: #839496;  /* base0 */
    }

    #console p::selection {
        color: #839496;  /* base0 */
        background-color: rgba(0, 43, 54, 0.99);  /* base03 */
    }
}

:root {
    font-family: "Trujaman", sans-serif;
    font-size : clamp(1em, 1vw + 1vh + .5vmin, 3em);  /* A good starting point... */
    /* And some other alternatives... */
    /*
    font-size: calc(1vw + 1vh + .5vmin);
    font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
    */
}

html {
    width: 100%;
}

body {
    margin: 0;
    min-width: min-content;
}

noscript p {
    text-align: center;
    text-indent: 0;
    margin: 1em;
    padding: 1em;
    border: 2px solid;
}

p {
    text-align: justify;
    text-indent: 0;
    margin: 1em;
}

header {
    display: flex;
    flex-wrap: wrap;
    font-size: 3em;
    margin: 0 0.5em 0.5em;
    align-items: baseline;
    justify-content: center;
}

div#trujaman {
    font-weight: bold;
}

div#version {
    font-family: monospace;
    font-size: 0.5em;
    min-width: max-content;
}

div#status {
    font-family: monospace;
    font-size: 0.5em;
    text-align: left;
    display: none;
    grid-template-columns: max-content max-content;
    grid-column-gap: 1em;
    align-items: center;
    width: min-content;
    margin: 0 auto;
    padding: 0.5em;
    border: 2px solid;
}

div#status div {
    line-height: 1.5em;
}

div#status div.status_item {
    justify-self: right;
}

div#status div.status_value {
    justify-self: left;
}

#console {
    font-size: 0.8em;
    width: 90%;
    font-family: monospace;
    margin: 1em auto;
    padding: 1ch;
    overflow: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    flex: 1;
}

#console p {
    text-align: left;
    text-indent: -2ch;
    margin: 0 0 0 2ch;
    padding: 0;
    line-height: 3ex;
}